# Dependencies
node_modules/
jspm_packages/
web_modules/

# Production build outputs
dist/
build/

# Local environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data and caches
.npm
.eslintcache
.stylelintcache
.cache/
.parcel-cache
.next/
.nuxt/

# IDEs and Editor files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
